.posts {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.title{
    color: red;
}
.post{
width:20%;
border:2px solid red;
margin-left: 20px;
margin-top: 20px;
}
.errorInput{
   display: flex;
   flex-direction: column;
   margin-top: 5px;

}
.error{
    color: red;
}

