* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  width:100%;
  height:100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  box-sizing: border-box;
}
.App{
  display: flex;
  
}
.nav {
  background-color: #00FFF1;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index:1;
  top:0;
  left:0;
  z-index: 1;
}
.nav_item {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.nav_link.navActive {
  color:blue;
  font-size:25px;
}
.nav_link {
  text-decoration: none;
  color:black;
}
.nav_link:hover{
  color:red
}
ul{
  margin-top: 0;
  margin-bottom: 0;
}
.navbar_brand {
  cursor: pointer;
  width:60px;
  height: 60px;
}
.aside {
  width:15rem;
  height:100vh;
  background-color: #00FFF1 ;
  transition: 1s;
  transform: translate(0);
  margin-top:4.3rem;
  position: absolute;
<<<<<<< HEAD
  z-index: 2;
=======
  z-index:2;
>>>>>>> a7cffb462632d86be5a908be40f8e79e82ed4aa7
}
.aside.hidden{
  transform: translate(-100%);
}

.mainContent {
<<<<<<< HEAD
  margin: 4.1rem 2rem 0 2rem;

=======
  margin-top:4.1rem;
>>>>>>> a7cffb462632d86be5a908be40f8e79e82ed4aa7
  width: 100%;
  padding: 0;
 
}
.main{
 position: relative;
  width: 100%;
}
.main>div{
  position: absolute;
  width: 100%;
}
<<<<<<< HEAD
=======
.main {
  position: relative;
  width:100%;
}
.main>div{
  position: absolute;
  width:100%;
}


>>>>>>> a7cffb462632d86be5a908be40f8e79e82ed4aa7
.post_main{
  width: max-content;
  margin-top:4.1 rem;

}
.friends {

  display: flex;
  flex-wrap: wrap;
  margin-top: 4.1rem;

  
}
<<<<<<< HEAD
  
=======
.main_friends_div{

  margin-top: 5rem;
}
>>>>>>> a7cffb462632d86be5a908be40f8e79e82ed4aa7
.card-img-top {
  width:15rem;
  height:auto;
  
}
.card{
  position: static;
  margin-top: 10px;
  width: 18rem;
  align-items: center;
}

